page {
  background-color: #eeeeee;
}

.container {
  padding: 0 0.5rem;
}

.pro {
  background-color: #fff;
  position: relative;
  margin: 0.5rem 0;
  clear: both;
}

.pro:after {
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.pro .desc {
  margin-right: 0.5rem;
}

.pro .img {
  width: auto;
  float: left;
  padding-right: 0.5rem;
  margin-bottom: -8rpx;
}

.img image {
  height: 140px;
}
